* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-family: 'Open Sans';
}

ul, ol , menu {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container1 {
    margin: 0 auto;
    max-width: 1000px;
}

.container2 {
    margin: 0 auto;
    max-width: 1200px;
}

.container3 {
    margin: 0 auto;
}

.div1 {
    display: flex;
    justify-content: space-between;
}

.main-header .div1 {
    padding: 30px;
}

.menu-nav {
    display: flex;
    align-items: center;
}

.element-menu {
    padding: 0 20px;
    line-height: 35px;
}

.button {
    text-decoration: none;
    font: bold 12px arial;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: white;
    border: solid 1px #0041cd;
    background-color: #0041cd;
}

.section1 {
    background-color:rgb(167, 197, 223); 
    padding-top: 70px;
}

.titleh1 {
    margin-bottom: 48px;
    font-size: 80px;
}

img {
    max-width: 750px;
}

.column1 {
    width: calc(100% / 3);
}

.column2 {
    width: calc((100% / 3)*2);
}

.icon {
    font-size: 50px;
    margin-top: auto;
}

.section1, .column1 {
    display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: flex-start;
}

.piani {
    padding: 80px 0 30px 0; 
}

.div2 {
    display: flex;
    justify-content: space-between;
}

.titleh2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.radio-botton {
    margin: 25px 0;
}

.card-total {
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black; 
    height: 100%;
}

.card-total .column3 {
    width: calc((100% - 100px) / 3);
   flex-grow: 1;
   flex-basis: 0;
}

.column4 {
    width: 100%;
}

.header-card {
    text-align: center;
    border-bottom: 1px solid black; 
    padding: 15px 0;
}

.body-card {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 12px;
}

.body-card .button {
    width: 100%;
}

.checkblue {
    color:rgb(5, 71, 170);
}

